<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.ConfigReader, Sitecore.Kernel" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, Sitecore.Logging" />
  </configSections>
  <sitecore>
    <settings>
      <setting name="LicenseFile" value="..\..\license.xml" />
    </settings>
    <services>
      <register serviceType="Sitecore.Abstractions.BaseAuthenticationManager, Sitecore.Kernel" implementationType="Sitecore.Sharepoint.Tests.Unit.TestAuthenticationManager, Sitecore.Sharepoint.Tests.Unit" />
      <register serviceType="Sitecore.Abstractions.BaseEventManager, Sitecore.Kernel" implementationType="Sitecore.Sharepoint.Tests.Unit.TestEventManager, Sitecore.Sharepoint.Tests.Unit" />
    </services>
  </sitecore>
  <log4net />
</configuration>