/*
-------------------------
 Clean CMS styles
-------------------------
*/

.control-wrapper {
    line-height: 1.2em;
    font: 10px Verdana;
    text-align: left;
}

.maincontentareacenterdiv   {
    width: auto!important;
    margin: 0px!important;
}

.maincontentareacenter  {
    padding: 5px!important;
}

/*
-------------------------
SharePoint styles
-------------------------
*/

.documentsList td,
.documentsList th
   {
     border-top-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 0px;
     border-right-width: 0px;
     border-style: solid;
     border-color: White;
     border-collapse:collapse;
     padding-top: 2px;
     padding-bottom: 0px;
   }


.genericGrid_controls
{
  width:100%;
  vertical-align:baseline;
  background-image: url(/sitecore/Images/GenericGridControlBackground.png);
  background-repeat: repeat-x;
  height: 25px;
}

.genericGrid_Views
{
  padding-top: 3px;
  float:right;
}

.genericGrid_ListName
{
  font-size: 1.2em;
  color:#737373;
  font-weight: bold;
  margin: 30px 0px 14px 0px;
}

.genericGrid_breadcrumb
{
  color: #979792;
  text-decoration: none;
  font-size: 0.9em;
  margin: 5px 0px;
}
.genericGrid_breadcrumb a
{
    color: #979792;
}

.processMessageDocument {
      position: absolute;
      top: 10px;
      left: 14%;
      padding: 10px;
      width: 14%;
   }
   .viewsList
   {
      font: 10px Arial;
      width: 110px;
      vertical-align:middle;
   }
   .genericGrid_datacontainer
   {
     margin-top:5px;
   }
   .genericGrid_data td,
   .genericGrid_data th
   {
     border-top-width: 1px;
     border-bottom-width: 1px;
     border-left-width: 0px;
     border-right-width: 0px;
     border-style: solid;
     border-color: White;
     border-collapse:collapse;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-right: 5px;
     }
   .genericGrid_firstCell
   {
     border-left-width: 1px!important;
     padding-left: 2px!important;
   }
   .genericGrid_lastCell
   {
     border-right-width: 1px!important;
   }

   .genericGrid_data th a
   {
      text-decoration:none;
      font-weight: bold;

   }
   .genericGrid_data th a:hover
   {
      text-decoration:underline;
   }
   .genericGrid_data_row
   {
      background-color:White;
   }
   .genericGrid_data_alt_row
   {
      background-color: #f4f4f4;
   }

   .hover TD,
   .hover TR
   {
     border-color: #CBCBCB;
   }

   .action_popupspan
   {
      border-left-width: 1px;
      border-right-width: 1px;
      border-bottom-width: 1px;
      border-top-width: 0px;
      border-color: #CBCBCB;
      border-style: solid;
      margin: 0px!important;
   }

   .action_popupspan DIV
   {
      padding: 5px!important;
   }

   .genericGrid_data_selected_row
   {
      background-color:#eeeeee;
   }
   .actions
   {
      background-color: white;
      display:none;
      position:absolute;
   }

   .action_div
   {
      border-width: 1px;
      border-color: #CBCBCB;
      border-style: solid;
      cursor: pointer;
      background-image: url(/sitecore/shell/themes/standard/Images/combobutton9x8.png);
      background-repeat: no-repeat;
      background-position: right;
      padding-left: 5px;
      padding-top: 2px;
   }

   .actions a
   {
      margin:5px;
      text-decoration: none;
   }

   .overlayForIcon
   {
        border: 0px;
        position: relative;
        bottom: 7px;
        left: -9px;
   }
   .overlayLink
   {
    text-decoration: none;
   }

div.maincontentareacenterdiv    {
    margin: 5px;
}

* html div.maincontentareacenterdiv    {
    margin: 5px 0 0 5px;
    width: 100%;
}

/*
----------------------------------------
    Controls
----------------------------------------
*/

.control-wrapper {
    min-width: 500px;
    float: left;
    clear: both;
    margin: 20px 0;
    position: relative;
}

span.genericGrid_breadcrumb {
    color: gray;
    background: #e4f0ff;
    margin: 0;
    padding: 8px 0 8px 2px;
    display: block;
    width: auto;
}

.controlHeader {
    background: #e4f0ff;
    font-size: 1.2em;
    color:#737373;
    font-weight: bold;
    margin: 0;
    padding: 4px 0 12px 0;
    width: 500px;
}

h3.controlHeader  {
    width: auto;
}

.controlHeader span  {
    margin: 0 2px;
}

div.control-wrapper a img   {
    border: none;
    outline: none;
}

div.control-wrapper table   {
    border: none;
    margin: 0;
    padding: 0;
    width: 500px!important;
}

.control-wrapper table th a,
.control-wrapper table th span,
.control-wrapper table td a,
.control-wrapper table td span   {
    white-space: nowrap;
}

.control-wrapper table tr {
    margin: 0;
    padding: 0;
}

.control-wrapper table tr td {
    line-height: 22px;
    padding: 0 2px;
    position: static;
}

tr.hover td.hover   {
    border-color: #b09460;
}

.genericGrid_data_row td   {
    background: #fff;
    border: 1px solid #fff;
    white-space: nowrap;
}

.genericGrid_data_alt_row td   {
    background: #f4f4f4;
    border: 1px solid #f4f4f4;
    white-space: nowrap;
}

.genericGrid_data_row a,
.genericGrid_data_alt_row a    {
    color: #0072BC;
    text-decoration: none;
}

.genericGrid_data_row a:hover,
.genericGrid_data_alt_row a:hover   {
    color: #003759;
    text-decoration: underline;
}

table .genericGrid_firstCell  {
    text-align: left;
    width: 32px!important;
}

.tooltip    {
    background: #ffe;
    border: 1px solid #cc9;
    width: auto;
    height: 24px;
    line-height: 24px;
    padding: 0 3px;
    position: absolute;
    display: none;
    white-space: nowrap;
    z-index: 1;
}

.charCounter    {
    float: left;
    background: #ecc;
    position: absolute;
    visibility: hidden;
}

/*
-------------------------------------------------------------------------------------------
    SP List control
-------------------------------------------------------------------------------------------
*/

.sharepoint-list    {
    background: #ffffff;
}

.genericGrid_Menubar {
    background: transparent url(/sitecore/Images/gridheadbg_blue.png) left bottom repeat-x;
    margin: 0;
    display: block;
    position: relative;
    width: auto;
}

div.genericGrid_Menubar .btn    {
    border-right: 1px solid #d4d4d4;
    padding: 5px 12px 4px 12px;
    display: inline-block;
}

div.genericGrid_Menubar span.btn a  {
    color: #000;
    text-decoration: none;
}

div.genericGrid_Menubar span.btn a:hover    {
    text-decoration: underline;
}

.genericGrid_Views  {
    background: transparent url(/sitecore/Images/gridheadbg_blue.png) left bottom repeat-x;
    padding: 0 2px;
    margin: 2px 0 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.genericGrid_Views select.viewsList {
    font: 10px Arial;
    background: #ffe090;
    border: 1px solid #d0b080;
    outline: none;
    width: 110px;
    position: relative;
}

div.genericGrid_datacontainer   {
    border-bottom: 1px solid #c0d0f0;
    margin: 0px;
    padding: 0px;
}

table.genericGrid_data th   {
    background: #e4f0ff;
    border: none;
    border-bottom: 1px solid #c0d0f0;
}

.sharepoint-list .genericGrid_data th.name  {
    width: 176px;
}

.overlayLink img    {
    float: left;
}

.overlayForIcon {
    border: 0px;
    position: static;
    margin-left: -10px;
}

/*
-------------------------------------
    New action!
-------------------------------------
*/

.action {
    position: absolute;
    z-index: 1;
    display: none;
}

.btnAction  {
    background: #fec url(/sitecore/shell/themes/standard/Images/combobutton9x8.png) 50% 50% no-repeat;
    border: 1px solid #b09460;
    width: 16px;
    height: 24px;
    position: absolute;
    cursor: pointer;
}

.listAction {
    background: #fff;
    border: 1px solid #ccc;
    clear: both;
    display: none;
    width: 100px;
}

.listAction div {
    height: 32px;
    line-height: 32px;
}

.listAction a   {
    background: #fff;
    outline: none;
    text-decoration: none;
    line-height: 32px;
    display: block;
}

.listAction a:hover {
    background: #eee;
}

.listAction a span  {
    margin: 0 4px;
}

/*
----------------------------------------
    genericGrid_controlButtons
----------------------------------------
*/

.genericGrid_controlButtons {
    background: #e4f0ff;
    position: relative;
    width: auto;
}

.height-spike   {
    background: #f00;
    width: 0px;
    height: 24px;
}

.genericGrid_controlButtons .navigationButtons {
    line-height: 24px;
    margin: 0;
    padding: 0 6px;
    position: absolute;
    right: 0;
    top: 0;
}

.genericGrid_controlButtons span.paging {
    border: none!important;
    text-align: center;
    display: block;
    width: 100px;
    line-height: 24px;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -50px;
}

.genericGrid_controlButtons a   {
    text-decoration: none;
    margin: 0 4px 0 0;
    padding: 0;
}

.genericGrid_controlButtons a.disable   {
    color: #808080;
}

.genericGrid_controlButtons a:hover {
    text-decoration: underline;
}

.genericGrid_controlButtons a:hover.disable {
    text-decoration: none;
}

/*
----------------------------------------------------------------------------------------------------
    Announcements
----------------------------------------------------------------------------------------------------
*/

.announcements {
    color: #000;
    background: #fff;
    border: none;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

.announcements *    {
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.announcements a.lnk-title   {
    color: #69c;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0;
}

.announcements .item-wrapper    {
    padding: 3px 0 6px 0;
    overflow: hidden;
}

.announcements .date    {
    color: #929292;
    font: 0.9em verdana;
    float: right;
    margin-bottom: 0;
}

/*
----------------------------------------------------------------------------------------------------
    Task List
----------------------------------------------------------------------------------------------------
*/

.tasks table td  {
    line-height: 24px;
    padding: 0 2px;
}

.tasks td a span    {
    font-weight: normal;
    color: #0072BC!important;
    text-decoration: none;
}

.tasks td a:hover span    {
    color: #003759!important;
    text-decoration: underline;
}

/*
----------------------------------------------------------------------------------------------------
    Search control
----------------------------------------------------------------------------------------------------
*/

.tableSerach    {
    border-collapse: collapse!important;
    margin: 0 0 4px 0!important;
}

.tableSerach td {
    padding: 0!important;
}

.advancedSearchLink {
    color: #757571;
    outline: none;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.simpleSearch td   {
    padding: 0 0 4px 0!important;
}

.leftSide   {
    width: 128px;
    float: left;
    margin: 0!important;
}

.rightSide  {
    float: left;
}

.advancedSearch {
    background: #eee;
    padding: 4px 0;
}

.advancedSearch.siteSearch td  {
    border-top: 1px solid #c0d0f0;
}

.advancedSearch.listSearch td  {
    border-bottom: 1px solid #c0d0f0;
}

.advancedSearch span    {
    margin-left: 3px;
}

.spSearchBtn    {
    font-size: 1.2em;
    color: #fff;
    background: transparent url(../images/topsearchbutton.gif) no-repeat 0 0;
    border: none;
    outline: none;
    width: 80px;
    height: 19px;
}

.spSearchBtn span   {
    position: relative;
    top: -2px;
}

* html .spSearchBtn span   {
    position: static;
}

.search-result  {
    border-collapse: collapse;
}

.search-result .header  {
    display: none;
}

.search-result th   {
    font-weight: bold;
    color: gray;
    background: #e4f0ff;
    border-bottom: 1px solid #c0d0f0;
    text-align: left;
    white-space: nowrap;
    padding: 0 3px;
}

.search-result th.type  {
    width: 32px;
}

.pagingbar  {
    color: #a0b0d0;
    background: #e4f0ff;
    border-top: 1px solid #c0d0f0;
    text-align: right;
    height: 24px;
    line-height: 24px;
    width: 500px;
}

.pagingbar a    {
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 1px 4px;
}

.pagingbar a[disabled="disabled"]    {
    color: #808080;
}

.pagingbar a:hover  {
    text-decoration: underline;
}

.pagingbar a[disabled="disabled"]:hover    {
    color: #808080;
    text-decoration: none;
}

/*
----------------------------------------------------------------------------------------------------
    Fader
----------------------------------------------------------------------------------------------------
*/

.faderContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.progressBackgroundFilter {
    background: transparent url(/sitecore/images/fader.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.processMessage {
    position: absolute;
    top: 1px;
    left: 1px;
}

.disableScreen   {
    background: transparent url(/sitecore/images/disableScreen.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
